<!DOCTYPE html>
<html lang="en">
<head>
    <% include reuso/head.html %>
    <title>Información</title>
</head>
<body class="bg-dark">
        <% include reuso/navegador.html %>
    <div class="container form-row">
        <br>
        <br>
        <div class="form-group col-md-6 titulo">
            <br>
                <h3 class="titulo"> <strong>MARIO MOISÉS RAMIREZ TOBAR</strong></h3>
        </div>
        <br>
        <br>
        <div class="form-group col-md-6 subtitulo">
                <br>
                <h3 class="subtitulo"> <strong> Carnét:</strong>__201830007</h3>
        </div>
    </div>
        <% include reuso/scripts.html %>
</body>
</html>